html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'sans-serif';
}

.button {
  display: block;
  height: 40px;
  width: 200px;
  margin: auto;

  border-radius: 4px;
  border: none;

  background-color: #496ea8;

  text-align: center;
  text-decoration: none;
  line-height: 40px;
  font-size: 18px;
  color: white;

  cursor: pointer;

  transition: 0.1s;
}

.button:active {
  background-color: white;
  color: #496ea8;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

